@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Regular.ttf);
}
*{
  padding: 0;
  margin: 0;
  width: 100%;
}
body{
  width: 380px;
  font-family: Roboto;
  h1{
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 40px;
    text-align: center;
  }
  p{
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
  }
  h4{
    padding-top: 15px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    padding-bottom: 10px;
  }
  .linc{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    button{
      border-radius: 4px;
      border: none;
      background-color: rgb(227, 156, 4);
      width: 100px;
      height: 28px;
      cursor: pointer;
      color: #FFF;
      a{
        text-decoration: none;
      }
    }
  }
}